/Inmobiliaria 2/nbproject/private/
/Inmobiliaria 2/build/
/Inmobiliaria 2/dist/
/cdcol/nbproject/private/
/cdcol/build/
/cdcol/dist/
/sample/target/
/Inmobiliaria/target/
/InmoPrime/target/
/ejemplo/target/